* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #010b5ce9;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper .loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}
.loader .loaing {
  margin: 10px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px #dc9dbc, 0 0 15px #ff69b4, 0 0 30px #ff69b4;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}
.loader .loaing:nth-child(odd) {
  animation-delay: 0.2s;
}
